@import url("https://fonts.googleapis.com/css?family=Raleway:900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800|Roboto:400,500,700,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.logoholder {
  padding: 4px 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.logo {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
  z-index: 55555;
}

nav {
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 7vh;
  background: transparent;
  z-index: 77777;
}

nav .nav-name {
  color: #34d379;
}

nav .nav-name span {
  color: #4156cf;
}

.navbg {
  background: rgba(255, 255, 255, 0.93);
  -webkit-box-shadow: 2px 2px 21px -12px black;
          box-shadow: 2px 2px 21px -12px black;
}

.nav-links {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: 10px;
}

.nav-links li a {
  border-bottom: 3px solid #460d7500;
  color: black;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
}

.nav-links li > a:hover {
  color: #470d75;
  border-bottom: 3px solid #470d75;
}

.hero-art {
  height: 8%;
  background-color: rgba(67, 207, 242, 0.481);
  bottom: 0;
  position: absolute;
  width: 47.4%;
  left: 0;
  -webkit-clip-path: polygon(0 0, 99.2% 0, 99.6% 100%, 0% 100%);
  clip-path: polygon(0 0, 99.2% 0, 99.6% 100%, 0% 100%);
}

.hero-art2 {
  height: 25px;
  background-color: #0a0057;
  width: 45%;
  margin-left: auto;
  margin-bottom: 60px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 1% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 1% 100%);
}

.hero {
  height: 80vh;
  background-attachment: fixed;
  background-image: url(../img/sklap.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.781);
  background-blend-mode: color;
  top: 0;
  left: 0;
  width: 100%;
  padding: 60px;
  margin-bottom: 100px;
}

.hero div.title {
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  opacity: 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px;
}

.hero div.title p {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.8rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 4444;
  text-align: center;
}

.hero div.title p b {
  font-size: 1.8rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero div.title p {
    font-size: 1.5rem;
  }
}

.hero div.title h1 {
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  font-size: 2.6rem;
  font-weight: 900;
  font-family: "Montserrat";
  text-align: center;
  padding: 5px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero div.title h1 {
    font-size: 2rem;
  }
}

.hero div.title a {
  background: #ecf6f8;
  border: 2px solid transparent;
  color: black;
  font-weight: bolder;
  padding: 10px;
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 0;
  text-transform: uppercase;
}

.hero div.title a:hover {
  border: 2px solid white;
  background: #0a0057;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.skroluj {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 0.2;
  -webkit-transition: all;
  transition: all;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: -50px;
  bottom: 50px;
  color: #0a0057;
}

section.hero > * {
  z-index: 44444 !important;
}

section.hero::after {
  content: "";
  display: block;
  width: 50%;
  height: 92%;
  background: rgba(67, 207, 242, 0.481);
  position: absolute;
  -webkit-clip-path: polygon(0 14%, 100% 9%, 100% 100%, 4% 100%);
          clip-path: polygon(0 14%, 100% 9%, 100% 100%, 4% 100%);
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  z-index: 1;
}

section.hero::before {
  content: "";
  display: block;
  width: 55%;
  height: 100%;
  background: rgba(67, 234, 242, 0.481);
  position: absolute;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 4% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 4% 100%);
  top: 0;
  left: 45%;
  right: 0;
  bottom: 0;
  z-index: 1;
}

section#about {
  margin-top: 150px;
}

@media (max-width: 767px) {
  section#about {
    margin-top: 90px;
  }
}

section#about .about-txt-holder {
  padding: 56px;
}

@media (max-width: 767px) {
  section#about .about-txt-holder {
    padding: 30px;
  }
}

section#about .who {
  padding: 0;
  height: auto;
  background: #0a0057;
  color: white;
  -webkit-box-shadow: 2px 25px 19px -21px #000000eb;
          box-shadow: 2px 25px 19px -21px #000000eb;
}

section#about .who img {
  margin-top: -40px;
  margin-left: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

@media (max-width: 767px) {
  section#about .who img {
    margin-top: 0;
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  section#about .who img {
    margin: auto;
    margin-left: -20px;
  }
}

section#about .who h2 {
  color: #43cff2;
  position: relative;
}

section#about .who p {
  padding-right: 0;
}

section#about .why {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/company-min.jpg);
  background-color: rgba(255, 255, 255, 0.897);
  background-blend-mode: color;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 100px 0;
}

@media (max-width: 767px) {
  section#about .why {
    margin: 50px 0;
  }
}

section#about .why p {
  margin: 30px 0 50px 0;
}

section#about .why h2 {
  color: #0a0057;
  position: relative;
  z-index: 33;
  text-align: right;
  width: 100%;
  padding: 5px 0;
}

section#about .why h2::after {
  content: "";
  width: 40px;
  height: 400%;
  position: absolute;
  top: -20px;
  right: 0;
  z-index: -1;
  background-color: #43cff2;
}

section#about .why img {
  width: 100%;
}

section#about p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: justify;
  padding: 0 60px 0 0;
}

@media (max-width: 767px) {
  section#about p {
    margin: 15px 0 30px 0;
  }
}

section#about *::after,
section#about *::before {
  z-index: -1;
}

#services {
  padding-bottom: 80px;
  z-index: 2;
  position: relative;
  background-size: cover;
}

@media (max-width: 767px) {
  #services {
    padding-bottom: 10px;
  }
}

#services h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px;
  border-left: 20px solid #43cff2;
}

#services h3 {
  -webkit-transition: opacity ease-in;
  padding: 5px 40px 20px 0;
  margin: auto;
  border-right: 10px solid #0a0057;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: opacity ease-in;
  margin-bottom: 60px;
  opacity: 0;
  /* padding: 0 100px; */
}

#services li {
  margin: 5px 0;
  font-size: 18px;
}

@media (max-width: 767px) {
  #services li {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #services li {
    font-size: 16px;
  }
}

#services h4 {
  padding: 5px 10px;
  -webkit-box-shadow: 5px 5px, 5px -5px, -5px -5px, -5px 5px;
          box-shadow: 5px 5px, 5px -5px, -5px -5px, -5px 5px;
  background-color: #0a0057;
  color: white;
}

@media (min-width: 768px) and (max-width: 1023px) {
  #services h4 {
    font-size: 18px;
  }
}

.card-image .card-image-back {
  margin: 15px;
}

.card-image .card-image-back::before {
  content: "";
  content: "";
  width: calc(100% - 60px);
  height: calc(100% - 30px);
  background-color: rgba(255, 255, 255, 0.508);
  position: absolute;
  top: 15px;
  left: 30px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .card-image .card-image-back::before {
    height: 200px;
    width: calc(100% - 60px);
    left: 30px;
  }
}

.card-image img {
  -webkit-box-shadow: 15px 15px #0a0057;
          box-shadow: 15px 15px #0a0057;
  width: 100%;
  z-index: 1;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .card-image img {
    height: 200px;
    width: 100%;
  }
}

.text-after {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
}

.text-after::after {
  content: "";
  width: 40%;
  height: calc(100% - 15px);
  background-color: #43cff2;
  position: absolute;
  bottom: 0;
  right: 15px;
  z-index: -1;
}

@media (max-width: 767px) {
  .text-after::after {
    height: 110%;
  }
}

.section-a {
  padding: 40px 0;
  margin-bottom: 40px;
}

.section-b {
  padding: 40px 0;
  margin-bottom: 40px;
}

.section-b h4 {
  -webkit-box-shadow: -5px 5px, -5px -5px;
          box-shadow: -5px 5px, -5px -5px;
}

.section-b .text-after::after {
  left: 15px;
}

.section-b img {
  -webkit-box-shadow: -15px 15px #0a0057;
          box-shadow: -15px 15px #0a0057;
}

.section-b .card-image-back::after {
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  top: 30px;
  left: 0;
}

.section-b ul,
.section-a ul {
  padding-left: 30px;
}

@media (max-width: 767px) {
  .section-b ul,
  .section-a ul {
    padding-left: 15px;
  }
}

.serv-holder {
  margin-top: 50px;
}

section#unique {
  position: relative;
  padding: 8% 5%;
  background-attachment: fixed;
  background-image: url(../img/purple.jpg);
  background-size: cover;
  color: white;
}

section#unique::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(15, 9, 55, 0.8);
  background-position: center;
  background-size: cover;
  content: "";
  z-index: 1;
}

@media (max-width: 767px) {
  section#unique {
    padding: 60px 0;
  }
}

section#unique h2 {
  text-align: center;
  margin-bottom: 30px;
}

section#unique i {
  font-size: 3rem;
}

#unique * {
  position: relative;
  z-index: 22;
}

section#contact > * {
  position: relative;
  z-index: 44444 !important;
}

section#contact.contact::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 31, 45, 0.93);
  background-position: center;
  background-size: cover;
  content: "";
}

section#contact {
  border-top: 2px solid #82dbfb;
  position: relative;
  padding-top: 120px;
  background-attachment: fixed;
  background-image: url(../img/plava4-min.png);
  background-size: cover;
}

section#contact h4 {
  font-size: 2.1rem;
  margin-bottom: 0;
}

section#contact form input,
section#contact form textarea,
section#contact form button {
  width: 100%;
  display: block;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12pt;
  margin-bottom: 3px;
}

section#contact form input,
section#contact form textarea {
  color: white;
}

section#contact form button {
  font-weight: bolder;
  text-transform: uppercase;
  background: rgba(130, 219, 251, 0.74);
  border: none;
  color: #2c2d4d;
}

section#contact form button:hover {
  background: rgba(39, 65, 75, 0.74);
  color: #82dbfb;
}

section#contact a {
  color: #030512;
}

section#contact a:hover {
  text-decoration: none;
  border-bottom: 2px solid black;
}

section#contact div.col-12.text-center {
  margin: 10px 0;
}

section#contact .social a {
  text-decoration: none;
  font-size: 2.3rem;
}

section#contact .social a:hover {
  border: none;
}

section#contact .social i {
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}

section#contact .social i:hover {
  color: #82dbfb;
}

section#contact address,
section#contact a {
  margin-bottom: 0 !important;
}

section#contact i {
  color: #121f2d;
}

section#contact i {
  min-width: 38px;
  font-size: 2.4rem;
  margin-right: 5%;
}

section#contact a,
section#contact address,
section#contact h2,
section#contact h3,
section#contact h4,
section#contact i,
section#contact p {
  color: #82dbfb !important;
}

section#contact button:hover {
  color: white !important;
}

section#contact ::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(130, 219, 251, 0.64) !important;
  opacity: 1;
  /* Firefox */
}

section#contact :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(130, 219, 251, 0.64) !important;
  opacity: 1;
  /* Firefox */
}

section#contact ::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(130, 219, 251, 0.64) !important;
  opacity: 1;
  /* Firefox */
}

section#contact ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(130, 219, 251, 0.64) !important;
  opacity: 1;
  /* Firefox */
}

section#contact :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(130, 219, 251, 0.64) !important;
}

section#contact ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(130, 219, 251, 0.64) !important;
}

section#contact form input,
section#contact form textarea {
  background: #1f3042c4 !important;
  border: none;
}

section#contact a:focus,
section#contact input:focus,
section#contact textarea:focus,
section#contact button:focus {
  outline: 1px solid #82dbfb;
  outline-offset: 1px;
}

section#contact div.col-12.text-center {
  margin: 7px 0 !important;
}

section#contact #mapa {
  opacity: 0.89;
}

section#contact a:hover {
  text-decoration: none;
  border-bottom: 2px solid #82dbfb !important;
}

section#contact .social i {
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}

section#contact .social i:hover {
  color: #ff1053 !important;
}

section#contact .social a:hover {
  border-bottom: none !important;
}

footer {
  font-size: 11px;
  padding-top: 20px;
  color: #ebebeb;
  background: #122335;
  text-align: center;
}

footer img {
  width: -webkit-fill-available;
  margin-bottom: 20px;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer a:hover {
  color: inherit;
}

footer div.w-100,
footer p.w-100 {
  color: #82dbfb;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 13px;
  }
  h2 {
    margin-bottom: 30px;
    font-size: 1.6rem;
  }
  #unique i {
    font-size: 2rem;
  }
  .hero {
    height: 68vh;
    padding: 20px;
    padding-top: 8vh;
    margin-bottom: 60px;
  }
  .hero div.title {
    padding: 20px;
  }
  .hero div.title p {
    font-size: 1rem;
  }
  .hero div.title p b {
    font-size: 1rem;
  }
  .hero div.title h1 {
    font-size: 24px;
  }
  section#contact {
    padding-top: 50px;
  }
  section.contact .row {
    padding: 5px;
  }
  section.contact .row iframe {
    height: 300px;
  }
  nav .hamburger {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    position: fixed;
    cursor: pointer;
    right: 6px;
    z-index: 44444;
  }
  nav .hamburger .line {
    width: 30px;
    height: 3px;
    background: black;
    margin: 5px;
    -webkit-transition: margin-bottom 1s ease-out;
    transition: margin-bottom 1s ease-out;
  }
  nav .hamburger .hamb-open {
    margin-bottom: 10px;
    background: #43cff2;
  }
  nav .nav-links {
    z-index: 3333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    margin-right: 0 !important;
    position: absolute;
    background-color: #0a0057;
    height: 350px;
    width: 250px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    clip-path: circle(10px at 90% -10%);
    -webkit-clip-path: circle(10px at 90% -10%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
  }
  nav .nav-links li {
    -webkit-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
    opacity: 0;
  }
  nav .nav-links li a {
    color: #43cff2;
    font-size: 20px;
  }
  nav .nav-links li a:hover {
    color: white;
  }
  nav .nav-links .nav-links li:nth-child(1) {
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  nav .nav-links .nav-links li:nth-child(2) {
    -webkit-transition: all 0.5s ease 0.4s;
    transition: all 0.5s ease 0.4s;
  }
  nav .nav-links .nav-links li:nth-child(3) {
    -webkit-transition: all 0.5s ease 0.6s;
    transition: all 0.5s ease 0.6s;
  }
  nav .nav-links li.fade {
    opacity: 1;
  }
  nav .nav-links.open {
    z-index: 333;
    clip-path: circle(700px at 90% -10%);
    -webkit-clip-path: circle(700px at 90% -10%);
    pointer-events: all;
  }
  #services {
    padding-top: 25px;
  }
  #services h3 {
    font-size: 19px;
    margin-bottom: 0;
    padding: 2px 10px 20px 0;
  }
  #services h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 20px;
  }
  #services h4 {
    font-size: 18px;
  }
  #services .col-md-6 {
    margin-bottom: 5px;
  }
  section#contact h4,
  section#contact h3,
  section#contact .social a {
    font-size: 1.5rem;
  }
}

.lang {
  border-left: 1px solid black;
}

.lang a:hover {
  background: none;
}

.lang a:hover span {
  opacity: 0;
  margin-bottom: -70px;
}

div.lang a:nth-of-type(1):hover {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/england.png);
}

div.lang a:nth-of-type(2):hover {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/deutsch.png);
}

div.lang a:nth-of-type(3):hover {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/srbija.png);
}

@-webkit-keyframes toggler-anima {
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

@keyframes toggler-anima {
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

.toggler-anima {
  -webkit-animation: toggler-anima 1.9s forwards 0.1s ease;
          animation: toggler-anima 1.9s forwards 0.1s ease;
}

@-webkit-keyframes arrow-anima1 {
  0% {
    bottom: 80px;
  }
  50% {
    opacity: 1;
    bottom: 50px;
  }
  100% {
    bottom: 80px;
  }
}

@keyframes arrow-anima1 {
  0% {
    bottom: 80px;
  }
  50% {
    opacity: 1;
    bottom: 50px;
  }
  100% {
    bottom: 80px;
  }
}

.arrow-anima1 {
  -webkit-animation: arrow-anima1 2.4s infinite ease-in-out;
          animation: arrow-anima1 2.4s infinite ease-in-out;
}

@-webkit-keyframes who-anima-left {
  0% {
    display: block;
    z-index: 0;
    opacity: 0;
  }
  100% {
    z-index: 0;
    position: relative;
    opacity: 1;
    display: block;
  }
}

@keyframes who-anima-left {
  0% {
    display: block;
    z-index: 0;
    opacity: 0;
  }
  100% {
    z-index: 0;
    position: relative;
    opacity: 1;
    display: block;
  }
}

.who-anima-left {
  -webkit-animation: who-anima-left 2.5s forwards 0.1s ease;
          animation: who-anima-left 2.5s forwards 0.1s ease;
}

@-webkit-keyframes who-anima-right {
  0% {
    z-index: 0;
    margin-left: -50%;
  }
  100% {
    z-index: 0;
    margin-left: 0;
    position: relative;
  }
}

@keyframes who-anima-right {
  0% {
    z-index: 0;
    margin-left: -50%;
  }
  100% {
    z-index: 0;
    margin-left: 0;
    position: relative;
  }
}

.who-anima-right {
  -webkit-animation: who-anima-right 2.5s forwards 0.1s ease;
          animation: who-anima-right 2.5s forwards 0.1s ease;
}

@-webkit-keyframes who-anima-right3 {
  0% {
    z-index: 0;
  }
  100% {
    z-index: 0;
    margin-left: 0;
    position: relative;
  }
}

@keyframes who-anima-right3 {
  0% {
    z-index: 0;
  }
  100% {
    z-index: 0;
    margin-left: 0;
    position: relative;
  }
}

.who-anima-right3 {
  -webkit-animation: who-anima-right3 2.5s forwards 0.1s ease;
          animation: who-anima-right3 2.5s forwards 0.1s ease;
}

@-webkit-keyframes who-anima-right2 {
  0% {
    z-index: 3;
    margin-left: 50%;
    opacity: 1;
  }
  100% {
    z-index: 3;
    opacity: 1;
  }
}

@keyframes who-anima-right2 {
  0% {
    z-index: 3;
    margin-left: 50%;
    opacity: 1;
  }
  100% {
    z-index: 3;
    opacity: 1;
  }
}

.who-anima-right2 {
  -webkit-animation: who-anima-right2 2.5s forwards 0.1s ease;
          animation: who-anima-right2 2.5s forwards 0.1s ease;
}

.who div.row,
.why div.row {
  -webkit-transition: opacity 0.8s ease-in;
  transition: opacity 0.8s ease-in;
  opacity: 0;
}

.who div.col-sm-12:nth-of-type(2) {
  margin-left: -50%;
}

@-webkit-keyframes anima-down-up {
  0% {
    -webkit-transform: rotate(0) translateY(90px);
            transform: rotate(0) translateY(90px);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}

@keyframes anima-down-up {
  0% {
    -webkit-transform: rotate(0) translateY(90px);
            transform: rotate(0) translateY(90px);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}

.anima-down-up {
  -webkit-animation: anima-down-up 1.5s forwards 0s linear;
          animation: anima-down-up 1.5s forwards 0s linear;
}
/*# sourceMappingURL=main.css.map */